<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="token" content={{token}}>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <title>{{title}}</title>
</head>
<body>
    <div id="root">
        Loading...
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
