<!DOCTYPE html>
<html 🆖>
<head><meta name="token" content="{{token}}">

    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
   <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Angular2 Webpack Starter by @gdi2290 from @AngularClass</title>

  <meta name="description" content="Angular2 Webpack Starter by @gdi2290 from @AngularClass">

  
  <!-- Configured Head Tags  -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<meta name="msapplication-TileColor" content="#00bcd4">
	<meta name="msapplication-TileImage" content="/assets/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#00bcd4">
  

  <!-- base url -->
  <base href="/">


  <!-- Add for AUI, TODO find better way -->
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.1/css/aui.min.css" media="all">
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.1/css/aui-experimental.min.css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" defer></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/6.0.1/js/aui.min.js" type="text/javascript" defer></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/6.0.1/js/aui-experimental.min.js" type="text/javascript" defer></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/6.0.1/js/aui-datepicker.min.js" type="text/javascript" defer></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/6.0.1/js/aui-soy.min.js" type="text/javascript" defer></script>

  <!--Bootsrtap, TODO find better way -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type="text/javascript" defer></script>


<script src="polyfills.9597efa6056672a415e0.bundle.js" type="text/javascript" defer></script><script src="vendor.d825e85392b65c460d8f.bundle.js" type="text/javascript" defer></script><script src="main.62bf81d64e3e4adf47a1.bundle.js" type="text/javascript" defer></script></head>

<body>

  <app>
    Loading...
  </app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    (function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
    r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');
  </script>

  


</body>
</html>
